.Skill {
    --img-size: 50px;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 15px;
}

.Skill p {
    opacity: 0.65;
    margin: 5px 0;
    font-size: 0.9rem;
}

.SkillPic {
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: contain;
    width: var(--img-size);
    height: var(--img-size);
}

.AWSLogo {
    background-image: url('../pics/awspic.png');
}

.AzureLogo {
    background-image: url('../pics/azurepic.png');
}

.CSharpLogo {
    background-image: url('../pics/csharppic.png');
}

.CSSLogo {
    background-image: url('../pics/csspic.png');
}

.DatabricksLogo {
    background-image: url('../pics/databrickspic.png');
}

.ExpressJSLogo {
    background-image: url('../pics/expressjspic.png');
}

.HuggingFaceLogo {
    background-image: url('../pics/huggingfacepic.png');
}

.HTMLLogo {
    background-image: url('../pics/htmlpic.png');
}

.KerasLogo {
    background-image: url('../pics/keraspic.png');
}

.JavaScriptLogo {
    background-image: url('../pics/javascriptpic.png');
}

.MLflowLogo {
    background-image: url('../pics/mlflowpic.png');
}

.MongoDBLogo {
    background-image: url('../pics/mongodbpic.png');
}

.MongooseJSLogo {
    background-image: url('../pics/mongoosejspic.png');
}

.NodeJSLogo {
    background-image: url('../pics/nodejspic.png');
}

.UnityLogo {
    background-image: url('../pics/unitypic.png');
}

.PassportJSLogo {
    background-image: url('../pics/passportjspic.png');
}

.PtsLogo {
    background-image: url('../pics/ptspic.png');
}

.PythonLogo {
    background-image: url('../pics/pythonpic.png');
}

.PyTestLogo {
    background-image: url('../pics/pytestpic.png');
}

.ReactLogo {
    background-image: url('../pics/reactpic.png');
}

.TensorFlowLogo {
    background-image: url('../pics/tensorflowpic.png');
}

.SQLLogo {
    background-image: url('../pics/sqlpic.png');
}

.sklearnLogo {
    background-image: url('../pics/sklearnpic.png');
}