:root {
  --font-family: 'Times New Roman', Times, serif;
  --font-family: 'Alata', sans-serif;
  --headline-color: gray;
}

.App {
  font-family: var(--font-family);
  width: 100vw;
  height: fit-content;
}

.App li {
  line-height: 1.8rem;
  margin-bottom: 20px;
}